@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.highcharts-background {
  fill: #22222c;
}
.highcharts-axis.highcharts-xaxis > path {
  stroke: white;
}
.highcharts-axis-labels.highcharts-yaxis-labels > text,
.highcharts-legend-item > text,
.highcharts-axis-labels.highcharts-xaxis-labels > text,
.highcharts-label.highcharts-tooltip.highcharts-color-0 > text {
  fill: white !important;
  color: white !important;
}
.highcharts-credits,
.highcharts-grid.highcharts-yaxis-grid,
.highcharts-legend-item > path.highcharts-point {
  display: none !important;
}
.highcharts-legend-box {
  fill: #14151a !important;
  border-radius: 15%;
}
.highcharts-crosshair.highcharts-crosshair-category {
  stroke-width: 2px;
  stroke: white;
}
.highcharts-label.highcharts-tooltip.highcharts-color-0 > path {
  fill: black !important;
}
