@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.highcharts-background {
  fill: #22222c;
}

.highcharts-axis-labels.highcharts-yaxis-labels > text,
.highcharts-axis-labels.highcharts-xaxis-labels > text {
  fill: #5d5d65 !important;
  color: #5d5d65 !important;
}
.highcharts-axis.highcharts-xaxis > path {
  stroke: #5d5d65;
}
.highcharts-legend-item > text {
  fill: white !important;
  color: white !important;
}
.highcharts-credits,
.highcharts-grid.highcharts-yaxis-grid,
.highcharts-legend-item > path.highcharts-point {
  display: none !important;
}
.highcharts-legend-box {
  fill: #14151a !important;
  border-radius: 15%;
}
.highcharts-crosshair.highcharts-crosshair-category {
  stroke-width: 1px;
  stroke: white;
}
.highcharts-label.highcharts-tooltip > path {
  fill: black !important;
  stroke: #009091;
  stroke-width: 1px;
}
.highcharts-point {
  stroke-width: 0px;
}
.custom-axis-line {
  display: inline-block;
  border-left: 1px solid black; /* Set the width and color of the vertical line */
  height: 12px; /* Set the height of the vertical line */
  margin-left: 5px; /* Adjust the spacing between the label and the line */
}
